:root {
  --cell-count: 5;
}
:root {
  --bg-color: #fff9e6;
  --text-color: #000000;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}

:root.dark-theme {
  --bg-color: #121212;
  --text-color: #ffffff;
  --primary-color: #1e88e5;
  --secondary-color: #424242;
}
body {
  background-image: url("./data/backgroundmomomo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;

  font-weight: 200;
}

.outergame {
  width: 90%;
  height: 80%;
  background-color: #fff9e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.restartbutton:hover {
  border: 1px solid black;
}
#open-rules-button:hover {
  border: 1px solid black;
}
#theme-toggle {
  position: relative;

  margin: 10px;
  cursor: pointer;
  background-color: #fff9e6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
}
.modal-content {
  background-color: #fff9e6;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#open-rules-button {
  background-color: #fff9e6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  min-width: 10vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  margin: 0;
}
.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.custom-dropdown {
  position: relative;

  margin: 10px;
  cursor: pointer;
  background-color: #fff9e6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
}
.key-and-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.key {
  background-color: #fff9e6;
  color: rgb(0, 0, 0);

  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
}
.mode-conteiner {
  background-color: #fff9e6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  gap: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  margin: 15px;
}
.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff9e6;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s ease;
}

.dropdown-header:hover {
  background-color: #fff9e6;
}

.dropdown-header i {
  transition: transform 0.3s ease;
}

.dropdown-header i.rotate {
  transform: rotate(180deg);
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff9e6;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 10;
  padding: 5px;
}

.dropdown-list.active {
  opacity: 1;
  visibility: visible;
  padding: 5px;
}

.dropdown-list li {
  padding: 10px 0px;
  list-style: none;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-list li:hover {
  background-color: #fff9e6;
}

.game-conteiner {
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.settings-conteiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff9e6;
  border-radius: 25px;
  width: 20%;
  gap: 15px;
}
.restartbutton {
  background-color: #fff9e6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  max-width: 80vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.keyboard {
  display: none;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px 25px 0px 0px;
  height: 10%;
  background-color: #fff9e6;
  border-bottom: 1px solid #f7f1e1;
  padding: 25px;
}
.navbar img {
  object-fit: cover;
  width: 10%;
  height: 100%;
}
.navbar button {
  border: 1px solid black;
  background-color: #fff9e6;
  font-size: 18px;
}
.grid-conteiner {
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.grid {
  display: grid;
  gap: 5px;
  max-height: 40vh;
  margin: 10px auto;
}
.cell {
  border-radius: 5px;
  background-color: #fffdf1;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  text-align: center;
  width: 60px;
  height: 60px;
}

.info {
  background-color: #a5c1e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;

  border-radius: 25px;
  height: 80%;
  width: 20%;
  padding: 15px;
  overflow: scroll;
  overflow-x: hidden;
}

.regles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50%;
  width: 100%;
}

.game-modes-container {
  margin-top: 10px;
  text-align: center;
}
.restart-and-gamemode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.restartbutton {
  padding: 20px;
  min-width: 10vw;
}
.restart-and-gamemode button {
  padding: 20px;
}
.game-modes-button {
  background-color: #fff9e6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-modes-button:hover {
  border: 1px solid black;
}

#game-modes-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#game-modes-modal .modal-content {
  background-color: #fff9e6;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#game-modes-modal h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.mode {
  margin: 20px 0;
}

.mode-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.mode-button:hover {
  background-color: #0056b3;
}

.mode-description {
  font-size: 0.9rem;
  color: #555;
}

#close-game-modes {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

#close-game-modes:hover {
  color: red;
}

.message-box {
  height: 50%;
  background-color: #121212;
  width: 100%;
  border: 1px solid;
}
.grey-ball {
  padding: 5px;
  background-color: #ad9d9e;
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 50%;
}
.green-ball {
  padding: 5px;
  background-color: #aecf82;
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 50%;
}
.yellow-ball {
  padding: 5px;
  background-color: #f7ef73;
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 50%;
}
.yellow {
  display: flex;
  gap: 5px;
  border: 1px solid;
  padding: 15px;
  height: 33%;
}
.grey {
  display: flex;
  gap: 5px;
  border: 1px solid;
  padding: 15px;
  height: 33%;
}
.green {
  display: flex;
  gap: 5px;
  border: 1px solid;
  padding: 15px;
  height: 33%;
}
.correct {
  background-color: #aecf82;
  color: white;
}

.present {
  background-color: #f7ef73;
  color: black;
}

.error {
  background-color: #f7665f;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  min-width: 10vw;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.success {
  color: #aecf82;
}

.row-indicator {
  width: 30px;
  height: 30px;
  position: absolute;
  transition: transform 0.3s ease;
}

.cell.correct {
  animation: bounce 0.5s ease;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

body.dark-theme {
  background-color: #121212;
  color: white;
}

body.dark-theme .cell {
  background-color: #333;
  border: 1px solid #555;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.cell.disappear {
  animation: fade-out 0.3s forwards;
}

.cell.reappear {
  animation: fade-in 0.3s forwards;
}

.cell.correct {
  background-color: #aecf82;
  color: white;
}

.cell.present {
  background-color: #f7ef73;
  color: black;
}
.cell.absent {
  background-color: #ad9d9e;
}
.mode-container {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#timer-display {
  font-size: 2rem;
  background-color: #fff9e6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  min-width: 10vw;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #000000;
}

#start-timer-button {
  background-color: #fff9e6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#start-timer-button:hover {
  border: 1px solid black;
}

#score-display {
  margin-top: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
#pass-button {
  background-color: #fff9e6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#pass-button:hover {
  border: 1px solid black;
}
.mode-button {
  background-color: #aecf82;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 10px;
}

.mode-button.active {
  background-color: #ad9d9e;
  color: white;
  pointer-events: none;
}

.mode-button:hover {
  opacity: 0.8;
}
.mode-button:disabled {
  opacity: 0.6;
}
.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
}

.countdown.show {
  visibility: visible;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #fff9e6;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 20px;
  border-radius: 50%;

  min-width: 10vw;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  margin: 0;
}

.countdown span {
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
  animation: slideDown 1s ease forwards;
}

#countdown-number {
  color: rgb(0, 0, 0);
  text-align: center;

  z-index: 2;

  margin: 0;
}

#go-message {
  display: none;
  font-size: 4rem;
  color: #4caf50;
}

.go-message.show {
  display: inline-block;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.menu-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: none; /* Hidden on larger screens */
  z-index: 1001;
}

/* Mobile menu container */
.mobile-menu {
  display: none; /* Hidden by default */

  width: 100%;
  height: 100%;
  background-color: #fff9e6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;
}
/**MEDIAQUE*********************************/
@media (max-width: 768px) {
  .circle {
    width: 120px;
    height: 120px;
    border-width: 4px;
  }

  #countdown-number {
    font-size: 3.5rem;
  }

  #go-message {
    font-size: 3.5rem;
  }

  /* Mobile menu toggle button */

  .menu-item i {
    margin-left: 15px;
  }
  .mobile-menu button {
    background-color: #fff9e6;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    margin: 0;
  }
  /* Individual menu items */
  .mobile-menu .menu-item {
    padding: 10px 20px;
    text-align: left;
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    color: black;
  }

  /* Responsive adjustments */

  .menu-toggle {
    display: block; /* Show hamburger icon */
  }

  #theme-toggle,
  #game-modes-button,
  #open-rules-button {
    display: none; /* Hide original buttons */
  }

  .circle {
    width: 100px;
    height: 100px;
    border-width: 3px;
  }

  #countdown-number {
    font-size: 2.5rem;
  }

  #go-message {
    font-size: 2.5rem;
  }

  body {
    background-image: none;
  }
  .outergame {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .navbar {
    height: 5%;
    width: 100%;
    border-bottom: 1px rgb(0, 0, 0) solid;
    padding: 0;
  }
  .navbar img {
    width: unset;
  }
  .navbar button {
    border: none;
  }
  .mode-container {
    flex-direction: row;
    gap: 5px;
  }
  .game-conteiner {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .game-conteiner {
    display: flex !important;
  }
  .key-and-message {
    display: flex;

    align-items: center;
    justify-content: center;
  }

  .grid-conteiner {
    width: 100%;

    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .row {
    margin-top: 5%;
  }
  .key {
    width: 9vw;
    height: 4vh;
    aspect-ratio: 1/1;
    text-align: center;
    padding: 0;
  }
  #backspace {
    width: 12vw;
  }
  #enter {
    width: 13vw;
  }
  .keyboard {
    max-width: 100vw;

    height: 25vh;
    display: block;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(var(--cell-count), 1fr);
    grid-template-rows: auto;
    width: 98%; /* Covers most of the width */
    height: 45vh; /* Takes almost half the screen height */
    gap: 5px; /* Adjusts spacing between cells */
    margin: 0 auto; /* Centers the grid horizontally */
  }

  .cell {
    height: calc(40vh (var(--cell-count)));
    width: calc(40vw (var(--cell-count)));
    background-color: #fffdf1;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 370px) {
  .key {
    width: 7vw;
  }
}
